/* Import from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@500&family=Zen+Maru+Gothic:wght@600&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap'); */

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 255, 239);
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Zen Maru Gothic', sans-serif;
}
/* nav bar is inside header */
header {
    /* center */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    /* rounded border */
    border: 2px solid rgb(31, 81, 31);
    border-radius: 30px;
    padding: 0px;
    /* keep at top */
    position: sticky;
    top: 10px;
    background-color: rgba(230, 255, 230, .95);
}
nav {
    text-align: center;
    /* center the nav bar in the header */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 0px;
    /* set the font */
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}
footer {
        /* center */
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
}
/* center all h1 headings */
h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 6px;
}
li {
    display: inline;
    margin: 0px 20px 120px 20px;
}
li a {
    text-decoration: none;
}
/* class for logo image */
.logo {
    height: 56px;
    width: 50px;
    margin: 0px;
    float: left;
    /* move up to fit */
    position: relative;
    bottom: 13px;
}
/* class for hero image */
.hero {
    width: 100%;
}
/* Font Awesome icons */
.fa-brands {
    padding: 15px;
    margin: 10px;
    font-size: 90px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}
.fa-github-square {
    color: black;
}


