/* Import from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@500&family=Zen+Maru+Gothic:wght@600&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 255, 239);
    font-family: 'Zen Maru Gothic', sans-serif;
}
/* nav bar is inside header */
header {
    /* center */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    /* rounded border */
    border: 2px solid rgb(31, 81, 31);
    border-radius: 30px;
    padding: 0px;
    /* keep at top */
    position: sticky;
    top: 10px;
    background-color: rgb(230, 255, 230);
}
nav {
    text-align: center;
    /* center the nav bar in the header */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 0px;
    /* set the font */
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}
footer {
        width: 100%;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: white;
        background-image: url("../img/geese.jpg");
        background-position: center;
        background-repeat: no-repeat;
}
section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/* center all h1 headings */
h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
/* styling for nav bar components */
nav ul {
    list-style-type: none;
    margin: 6px;
}
li {
    display: inline;
    margin: 0px 20px 120px 20px;
}
li a {
    text-decoration: none;
}
/* make audio controls more visible against background */
audio {
    border: 2px solid rgb(31, 81, 31);
    border-radius: 30px;
}
/* styling for contact form */
input {
    display: block;
    width: 100%;
    background-color: rgb(240, 255, 239);
}
textarea {
    width: 100%;
    background-color: rgb(240, 255, 239);
    resize: vertical;
}
button {
    background-color: rgb(176, 207, 255); /* match logo background */
    padding: 7px;
    border-radius: 5px;
    /* set the font */
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
}
button:hover {
    background-color: rgb(102, 153, 230);
    color: white;
}
/* class for logo image */
.logo {
    height: 58px;
    width: 50px;
    margin: 0px;
    float: left;
    /* move up to better position on nav bar */
    position: relative;
    bottom: 13px;
}
/* class for columns */
.column, .column-audio {
    float: left;
    width: 50%;
    padding: 20px;
}
.row {
    width: 100%;
}
.row::after {
    clear: both;
}
.row-break {
    clear: both;
}
.border-left {
    border-left: 2px dashed rgb(31, 81, 31);
}
.border-top {
    border-top: 2px dashed rgb(31, 81, 31);
}
/* class for hero image */
.hero {
    margin: 0px;
    width: 100%;
}
/* class for small images */
.small-pic {
    width: 320px;
    height: 240px;
    float: left;
    margin: 10px;
}
.medium-pic {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 480px;
}
/* containers around embedded map */
.map-frame {
    width: 100%;
    display: flex;
    justify-content: center;
}
.map {
    margin-bottom: 30px;
}
.column-narrow {
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
}
/* container for contact form */
.contact {
    background-color: rgb(68, 120, 33); /* match tree logo */
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 15px;
    border-radius: 11px;
}
/* put first and last name side-by-side in contact form */
.name-fields {
    width: 50%;
    float: left;
    margin-bottom: 16px;
}
.name-block::after {
    clear: left;
}
/* Font Awesome icons */
.fa-brands {
    margin: 10px 40px;
    padding: 0px 4px;
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    /* distinguish from background */
    background-color: rgb(250, 250, 250);
    border-radius: 6px;
}
/* give brand colors to their logos */
.fa-github-square {
    color: rgb(36,41,47);
}
.fa-facebook-square {
    color: rgb(59,89,152);
}
.fa-linkedin {
    color: rgb(10,102,194);
}
/* text that goes next to photos on home page */
.photo-text {
    padding: 5px;
}
.photo-text::after {
    clear: left;
}
@media screen and (max-width: 1024px) {
    .small-pic {
        width: 69%;
        height: auto;
        float: none;
        clear: both;
    }
}
@media screen and (max-width: 900px) {
    .map-frame {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .column-narrow {
        width: 80%;
    }
}
/* change audio-player layout and large pictures on small screens */
@media screen and (max-width: 740px) {
    .medium-pic {
        width: 100%;
        height: auto;
    }
    .column-audio {
        float: none;
        clear: both;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-left: 0px;
    }
}
/* change display of header and footer on small screens */
@media screen and (max-width: 600px) {
    /* allow links in nav bar to stack vertically */
    li {
        display: block;
        margin: 0px;
    }
    /* reduce space between icons in footer */
    .fa-brands {
        margin: 10px;
        font-size: 50px;
    }
}